<div id="fileUploadModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload File</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline" name="fileUploadForm" enctype=multipart/form-data id="fileForm">
            <div class="form-group">
              <label class="sr-only" for="folder"></label>
              <div class="input-group">
                <div class="input-group-addon"><i class="material-icons md-18">file_upload</i></div>
                <input type="file" class="btn btn-primary" id="file" name="media">
              </div>
            </div>
            <div class="form-group">
              <p>Select folder</p>
              <select id="folderName">
                <option ng-repeat="folder in folder_names" value="{{ folder.name }}">{{ folder.name }}</option>
              </select>
            </div>
            <div class="form-group" ng-if="folder_creation_error">
              <div class="error">
                <h5 style="padding-left:15px; padding-right:15px;">Some text</h5>
              </div>
            </div>
            <button class="btn btn-success pull-right" ng-click="upload_file()" type="submit" id="upload_button">Upload File</button>
          </form>
          <div class="progress">
              <div id="progress_bar" class="progress-bar progress-bar-success" 
                    role="progressbar" aria-valuenow="0" aria-valuemin="0" 
                    aria-valuemax="100" style="width: 0%">
                <span class="sr-only"></span>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
