<html ng-app="saveItApp">
	<head>
		<title>Dash Board</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="../static/css/saveit.css" rel="stylesheet">
		<link href="../static/css/font-awesome.css" rel="stylesheet">
		<link href="../static/css/bootstrap-social.css" rel="stylesheet">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
		integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
		crossorigin="anonymous"></script>
		<!--Angular from google cdn -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="../static/js/index.js" type="text/javascript"></script>
		<script src="../static/app/LoginController.js" type="text/javascript"></script>
		<script src="../static/app/services.js"></script>
		<script src="../static/app/SignupController.js" type="text/javascript"></script>
		<script src="../static/app/FolderNameController.js"></script>
	</head>
	<body class="container" ng-controller="FolderNameController">
		<div folder-directive></div>
		<div file-directive></div>
		<div class="row">
			<div class="col-md-3 pull-right">
				<i class="material-icons">star_border</i>
				<a href="#"><sapn class="text">Upgrade account</sapn></a>
			</div>
			<div class="col-md-3 pull-right">
				<i class="material-icons">account_circle</i>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
					aria-expanded="false">
					<span class="text">{{ current_user.name }}</span><i class="material-icons">arrow_drop_down</i>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Account</a></li>
					<li><a href="#">Change Password</a></li>
					<li class="divider"></li>
					<li><a href="{{ url_for('logout') }}">Log out</a></li>
  				</ul>
			</div>
		</div>
		<div class="row">
			<div class="btn-group pull-right">
				<button id="new_folder" class="btn btn-success btn-sm"><i class="material-icons md-18">create_new_folder</i><span class="text"> New Folder</span></button>
				<button id="new_file" class="btn btn-info btn-sm"><i class="material-icons md-18">file_upload</i><span class="text"> Upload File</span></button>
				<button class="btn btn-danger btn-sm" ng-click="delete_folder()"><i class="material-icons md-18">delete</i><span class="text"> Delete File</span></button>
			</div>
			<div class="col-md-2">
				<a href="{{ url_for('index') }}"><h2>SaveIT</h2></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-9">
				<table class="table table-striped table-hover">
				<thead>
			      <tr>
			      	<th class="new" ng-show="delete">Delete</th>
			        <th>Folder name</th>
			        <th>Size</th>
			        <th>Shared with</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="folder in folder_names">
			      	<td ng-show="delete"><input type="checkbox" value="{{ '{{folder.id}}' }}" name="folder"></input></td>
			        <td><i class="material-icons">folder</i><span class="text">{{ ' {{folder.name}}' }}</span></td>
			        <td>{{ '{{folder.size}}' }} MB</td>
			        <td><i class="material-icons">attachment</i><span class="text">{{ '{{folder.shared}}' }}</span></td>
			        <td id="share"><a href="#">Share</a></td>
			      </tr>
			    </tbody>
			</table>
			</div>
		</div>
	    <footer class="footer container-fluid">
			<div class="row">
				<div class="col-md-2">
					<h3>SaveIT</h3>
					<ul>
						<li>Desktop App</li>
						<li>Mobile App</li>
						<li>Plans</li>
					</ul>
				</div>
				<div class="col-md-2">
					<h3>Company</h3>
					<ul>
						<li>About Us</li>
						<li>Jobs</li>
						<li>Press</li>
					</ul>
				</div>
				<div class="col-md-2">
					<h3>Support</h3>
					<ul>
						<li>Contact Us</li>
						<li>Help Center</li>
						<li>Privacy and terms</li>
					</ul>
				</div>
				<div class="col-md-2">
					<h3>Products</h3>
					<ul>
						<li>Pro</li>
						<li>Business</li>
						<li>Enterprise</li>
					</ul>
				</div>
			</div>
		</footer>
	</body>
</html>