{% extends "base.html" %}

	{% block title %}
		SaveIT -- Online File Storage and Sharing 
	{% endblock%}
	
	{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-success" role="alert">File deleted successfully..:)</div>
                </div>
            </div>
        </div>
	{% endblock %}